.generic-styling {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}
.padding{
    padding: 3rem;
}
.padding-inside{
    padding: 1rem;
}